section{
	display: flex;
	flex-direction: column;
	margin: 7s0px 0px;
	padding: 0;
}
.containeer{
	display: flex;
	flex-direction: row;
}
section h1{
	margin-left: 40px;
}
.pc-container{
	background: white;
	padding: 10px;
	margin: 10px 40px	;
	display: flex;
	flex-direction: column;
	border-radius: 29px;
}
.pc-logo{
	height: 300px;
}
.pc-text-con h2{
	font-size: 25px;
	color: #1e2b50;
}
.pc-text-con p{
	font-size: 17px;
	color: #1e2b50;
}
.pc-text-con button{
	font-family:Verdana	;
	padding: 3px 20px;
	background-color: #1e2b50;
	border-radius: 20px;
	border: none;
	text-decoration: none;
}
.pc-text-con button a{
	text-decoration: none;
	color: white;
}